name: Hello World

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - dev

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print hello world
        run: echo "Hello, world!"

    
